<li>
  <a href="/jobs/detail?id=<%= job.id %>" class="job">
    <span class="job-name">
        <%= job.name %>
    </span>
    <span class="stage">
        Stage <%= job.current_stage.to_s %>
    </span>
    <span class="status">
        Pumping (No Problems)
    </span>
  </a>
</li>